.wrapper {
    @apply sticky top-0 left-0 right-0 h-20 lg:h-28;
    @apply flex items-center;
    @apply px-6 lg:px-28;
    z-index: 9999;

    .logo {
        @apply mr-auto flex gap-2 items-center select-none;

        svg {
            @apply w-auto h-12;
        }

        h1 {
            @apply font-medium text-2xl;
        }
    }

    .links {
        @apply flex gap-6 items-center font-medium;

        .link {
            @apply text-black hidden lg:block opacity-90 hover:opacity-100;
        }

        .loginButton {
            @apply px-2 py-1 rounded-lg text-laurel-400 border-2 border-laurel-400;
            box-shadow: 0 2px 0 #0dc700;

            &:active {
                @apply mt-[2px];
                box-shadow: unset;
            }
        }
    }
}
