.wrapper {
    @apply fixed inset-0 overflow-hidden;
    @apply flex flex-col items-center justify-center;
    @apply bg-black bg-opacity-40;
    @apply px-2 sm:px-0;
    @apply z-10;

    .popup {
        @apply bg-white rounded-md overflow-auto;
        @apply p-4 w-full sm:w-11/12 sm:max-w-[500px] max-h-[500px];

        .hourSelector {
            @apply mt-5;
        }

        .coursesWrapper {
            @apply overflow-auto w-full flex flex-col gap-3 mt-3;
            max-height: 500px;
        }

        h4 {
            @apply font-sans font-bold text-2xl sm:text-3xl;
        }

        .desc {
            @apply opacity-60 font-thin;
        }

        .search {
            @apply w-full flex bg-warmGray-50 rounded-md my-1 sm:my-3;
            @apply px-2 py-1;
            @apply border-2 border-warmGray-100;

            input {
                @apply flex-1 bg-transparent;
            }

            input::placeholder,
            svg {
                @apply text-warmGray-400;
            }
        }

        .courseTile {
            @apply cursor-pointer hover:bg-warmGray-50 hover:bg-opacity-50;
        }
    }

    .closer {
        z-index: -1;
        @apply absolute inset-0;
    }
}
