.adminLayout {
    @apply flex h-[calc(100%-1.75em)];

    .sidebar {
        @apply flex flex-col py-5 px-3 gap-2;
        @apply border-r-2 border-warmGray-100;
        @apply bg-warmGray-50;

        .sidebarLink {
            @apply flex sm:gap-5 items-center justify-center sm:justify-start;
            --b-h: 116;
            --b-s: 100%;
            --b-l: 39%;

            &.active {
                --b-l: 34%;
                @apply opacity-100;
            }

            .name {
                @apply hidden sm:block;
            }
        }
    }

    .content {
        @apply flex-1 py-5 mx-4 relative;
        @apply w-[calc(100vw-42px-3.5rem)] sm:w-[calc(100vw-161px-3.5rem)];
    }
}
