.adminLayout {
    @apply flex h-[calc(100%-1.75em)] gap-3;

    .sidebar {
        @apply flex flex-col py-5 px-2 gap-2;
        @apply border-r-2 border-warmGray-100;

        .sidebarLink {
            @apply flex sm:gap-5 items-center justify-center sm:justify-start;
            @apply border-[1px] border-warmGray-200 rounded-md shadow-sm;
            @apply px-5 py-1;
            @apply opacity-70 hover:opacity-100;

            .name {
                @apply hidden sm:block;
            }
        }
    }

    .content {
        @apply flex-1 py-5 ml-2 mr-4;
    }
}
